{% with page_name="Editor", menu_item="editor" %}
{% include "includes/header.html.j2" %}
{% endwith %}
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">File editor</h1>
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary" id="filename">filename goes here</h6>
                        </div>
                        <div class="card-body">
                            <textarea id="fileContent" placeholder="File content will appear here..."></textarea>
                            <br>
                            <button id="saveFile">Save</button>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
{% with page_scripts=["codemirror.min.js", "page-editor.js"] %}
{% include "includes/footer.html.j2" %}
{%- endwith -%}